In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

from sklearn.metrics import r2_score as r2, mean_squared_error as mse
from sklearn.ensemble import RandomForestRegressor as RF
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

#### Загрузка данных

In [2]:
data = pd.read_csv('train.csv')

#### Просмотр данных

In [3]:
data.head().T

                       0            1          2         3          4
Id                 14038        15053       4765      5809      10783
DistrictId            35           41         53        58         99
Rooms                  2            3          2         2          1
Square           47.9816      65.6836     44.948    53.353    39.6492
LifeSquare       29.4428      40.0495    29.1976   52.7315    23.7762
KitchenSquare          6            8          0         9          7
Floor                  7            7          8         8         11
HouseFloor             9            9         12        17         12
HouseYear           1969         1978       1968      1977       1976
Ecology_1      0.0890397  6.99893e-05  0.0496373  0.437885  0.0123389
Ecology_2              B            B          B         B          B
Ecology_3              B            B          B         B          B
Social_1              33           46         34        23         35
Social_2            7976        10309       7759      5735       5776
Social_3               5            1          0         3          1
Healthcare_1         NaN          240        229      1084       2078
Helthcare_2            0            1          1         0          2
Shops_1               11           16          3         5          4
Shops_2                B            B          B         B          B
Price             184967       300009     220926    175616     150227

#### Описание данных

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,10000.0,8383.407700,4859.019020,0.000000,4169.500000,8394.500000,12592.500000,1.679800e+04
DistrictId,10000.0,50.400800,43.587592,0.000000,20.000000,36.000000,75.000000,2.090000e+02
Rooms,10000.0,1.890500,0.839512,0.000000,1.000000,2.000000,2.000000,1.900000e+01
Square,10000.0,56.315775,21.058732,1.136859,41.774881,52.513310,65.900625,6.410652e+02
LifeSquare,7887.0,37.199645,86.241209,0.370619,22.769832,32.781260,45.128803,7.480592e+03
KitchenSquare,10000.0,6.273300,28.560917,0.000000,1.000000,6.000000,9.000000,2.014000e+03
Floor,10000.0,8.526700,5.241148,1.000000,4.000000,7.000000,12.000000,4.200000e+01
HouseFloor,10000.0,12.609400,6.775974,0.000000,9.000000,13.000000,17.000000,1.170000e+02
HouseYear,10000.0,3990.166300,200500.261427,1910.000000,1974.000000,1977.000000,2001.000000,2.005201e+07
Ecology_1,10000.0,0.118858,0.119025,0.000000,0.017647,0.075424,0.195781,5.218671e-01
Social_1,10000.0,24.687000,17.532614,0.000000,6.000000,25.000000,36.000000,7.400000e+01
Social_2,10000.0,5352.157400,4006.799803,168.000000,1564.000000,5285.000000,7227.000000,1.908300e+04
Social_3,10000.0,8.039200,23.831875,0.000000,0.000000,2.000000,5.000000,1.410000e+02
Healthcare_1,5202.0,1142.904460,1021.517264,0.000000,350.000000,900.000000,1548.000000,4.849000e+03
Helthcare_2,10000.0,1.319500,1.493601,0.000000,0.000000,1.000000,2.000000,6.000000e+00
Shops_1,10000.0,4.231300,4.806341,0.000000,1.000000,3.000000,6.000000,2.300000e+01
Price,10000.0,214138.857399,92872.293865,59174.778028,153872.633942,192269.644879,249135.462171,6.332335e+05

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [6]:
data.shape

(10000, 20)

Признаки Healthcare_1 и LifeSquare содержат неполные данные. Признаки Ecology_2, Ecology_3, Shops_2 являются бинарными, но не числовыми. Позднее решим обработать их или не включать в модель. Посмотрим на HealthCare_1.

In [7]:
data.corr()['Healthcare_1'].sort_values()

HouseFloor      -0.143973
Floor           -0.138294
Ecology_1       -0.043547
Square          -0.039748
LifeSquare      -0.026867
HouseYear       -0.011969
Id              -0.003879
KitchenSquare    0.009472
Rooms            0.042857
Social_2         0.050458
Shops_1          0.057758
Social_1         0.077133
Social_3         0.133877
Price            0.138755
Helthcare_2      0.203177
DistrictId       0.304335
Healthcare_1     1.000000
Name: Healthcare_1, dtype: float64

Удаляем.

In [8]:
data = data.drop(['Healthcare_1'], axis = 1)

In [9]:
data.corr()['LifeSquare'].sort_values()

Social_1        -0.048363
Social_2        -0.039283
Helthcare_2     -0.024762
Ecology_1       -0.023629
DistrictId      -0.019910
Shops_1         -0.007569
HouseYear       -0.002210
KitchenSquare   -0.001195
Social_3         0.012763
Id               0.018449
Floor            0.024559
HouseFloor       0.027442
Price            0.081292
Rooms            0.131336
Square           0.196129
LifeSquare       1.000000
Name: LifeSquare, dtype: float64

Туда же.

In [10]:
data = data.drop(['LifeSquare'], axis = 1)

##### HouseYear

In [11]:
np.sort(data.HouseYear.unique())

array([    1910,     1912,     1914,     1916,     1917,     1918,
           1919,     1928,     1929,     1930,     1931,     1932,
           1933,     1934,     1935,     1936,     1937,     1938,
           1939,     1940,     1941,     1942,     1947,     1948,
           1950,     1951,     1952,     1953,     1954,     1955,
           1956,     1957,     1958,     1959,     1960,     1961,
           1962,     1963,     1964,     1965,     1966,     1967,
           1968,     1969,     1970,     1971,     1972,     1973,
           1974,     1975,     1976,     1977,     1978,     1979,
           1980,     1981,     1982,     1983,     1984,     1985,
           1986,     1987,     1988,     1989,     1990,     1991,
           1992,     1993,     1994,     1995,     1996,     1997,
           1998,     1999,     2000,     2001,     2002,     2003,
           2004,     2005,     2006,     2007,     2008,     2009,
           2010,     2011,     2012,     2013,     2014,     2015,
           2016,     2017,     2018,     2019,     2020,     4968,
       20052011], dtype=int64)

Наблюдается 3 выбраса: 1) 2020г. еще не наступил; 2) 20052011 - ошибка; 3) 4968 - ошибка. Допустим, что застройщики поголовно честные, глобальный потрясений не ожидается и цены неволатильны. В этом случае 2020г. оставим как есть. Посмотрим на число наблюдений по 2-му и 3-му выбросам.

In [12]:
data.loc[data['HouseYear']>2020]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

Всего 2. 20052011 явно диапазон между 2005 и 2011 гг. Заменим на срединное значение, т.е. на 2008г. 4968 явно ошибка в написании года. Заменим на 1968.

In [13]:
def chng_house_yr(df):
    df.loc[data['HouseYear']==20052011,'HouseYear']=2008
    df.loc[data['HouseYear']==4968,'HouseYear']=1968
    return df

In [14]:
data=chng_house_yr(data)

Проверим.

In [15]:
np.sort(data.HouseYear.unique())

array([1910, 1912, 1914, 1916, 1917, 1918, 1919, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1947, 1948, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958,
       1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

Выбросы исправлены.

##### Rooms

Оценим визуально поведение признака Rooms.

In [16]:
plt.hist(data['Rooms'], bins=20);

Посчитаем и посмотрим детальнее.

In [17]:
data.Rooms.value_counts()

2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
19.0       1
6.0        1
Name: Rooms, dtype: int64

Безкомнатные (студии?), 10-, 19- и 6-комнатные. Примечательно, что они малы числом. По этому критерию к выбросу была отнесена и 6-комнатная квартира. Посмотрим на них более пристально.

In [18]:
data.loc[(data['Rooms'] > 5) | (data['Rooms'] < 1), ['Id','Rooms', 'Square', 'KitchenSquare', 'HouseYear', 'Price']]

         Id  Rooms      Square  KitchenSquare  HouseYear          Price
377    5927   10.0   59.056975           10.0       2002  317265.323792
1397  12638    0.0  138.427694            0.0       2016  268394.744389
1454   8491   19.0   42.006046            7.0       2014   78364.616704
1981   7917    0.0  212.932361            0.0       2008  302211.260887
2170  14003    6.0   59.414334            6.0       1969  229661.964416
2269   7317    0.0   41.790881            0.0       1977   98129.976788
3911    770    0.0   49.483501            0.0       2015  217009.338463
4366    456    0.0   81.491446            0.0       1977  212864.799112
4853   3224    0.0    2.377248            0.0       1977  126596.941798
6149   3159    0.0   38.697117            9.0       1982  158998.110646
8834   9443    0.0   87.762616            0.0       1977  219281.918007
8849  14865   10.0   60.871266           10.0       1994  172329.270863

Беглый взгляд на данные показывает, что значения признака Rooms меньше 1 и больше 5 являются выбросами и их нужно корректировать. Сделаем частично руками для надежности.

In [19]:
data.loc[data['Id'].isin([5927, 14003, 14865]), 'Rooms'] = 2
data.loc[data['Id'] == 8491, 'Rooms'] = 1
data.loc[data['Id'].isin([3224, 3159, 7317]), 'Rooms'] = 1
data.loc[data['Id'].isin([770]), 'Rooms'] = 2
data.loc[data['Id'].isin([456, 9443]), 'Rooms'] = 3
data.loc[data['Id'].isin([12638]), 'Rooms'] = 4
data.loc[data['Id'].isin([7917]), 'Rooms'] = 5

In [20]:
data.loc[(data['Rooms'] > 5) | (data['Rooms'] < 1), ['Id','Rooms', 'Square', 'KitchenSquare', 'HouseYear', 'Price']]

Empty DataFrame
Columns: [Id, Rooms, Square, KitchenSquare, HouseYear, Price]
Index: []

##### Square & KitchenSquare

Оценим визуально поведение признака Square

In [21]:
plt.hist(data['Square'], bins=100);

Есть выбросы. Примем за гипотезу, что признак Square варьируется от 30м2 до 200м2. Все остьальное - анамалии.

Посмотрим на медианы относительно количества комнат

In [22]:
data[['Square', 'Rooms']].groupby('Rooms').median().T

Rooms        1.0        2.0        3.0        4.0         5.0
Square  40.40659  55.850302  77.421742  98.686703  117.855969

In [23]:
data[['KitchenSquare', 'Rooms']].groupby('Rooms').median().T

Rooms          1.0  2.0  3.0  4.0  5.0
KitchenSquare  6.0  6.0  7.0  9.0  9.0

Выглядят нормально.

In [24]:
data.loc[data['Square'] > 200, ['Id', 'Rooms', 'Square', 'KitchenSquare', 'Price']]

         Id  Rooms      Square  KitchenSquare          Price
1981   7917    5.0  212.932361            0.0  302211.260887
1982   5548    5.0  275.645284           26.0  455264.882666
4262     28    2.0  604.705972            1.0  187717.242538
4690   2307    1.0  409.425181           10.0   90470.430830
6977  11602    2.0  641.065193           10.0  133529.681562
9910  16568    4.0  200.334539           25.0  528560.506016

In [25]:
data.loc[data['Id'].isin([28, 2307, 11602]), ['Square']] = data.loc[data['Id'].isin([28, 2307, 11602]), ['Square']] / 10
data.loc[data['Id'].isin([7917, 5548]), ['KitchenSquare']] = 20
data.loc[data['Id'].isin([28, 2307, 11602, 16568]), ['KitchenSquare']] = 10
data.loc[data['Id'].isin([7917, 5548, 28, 2307, 11602])]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,5.0,212.932361,20.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,20.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
4262,28,9,2.0,60.470597,10.0,17,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4690,2307,102,1.0,40.942518,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2.0,64.106519,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562

In [26]:
data = data.drop(data.loc[data['Square'] < 15, :].index)
data.shape

(9987, 18)

Убрали незначительный срез маленьких и странных квартир.

In [27]:
data[data['KitchenSquare'] > data['Square']]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1064,14656,62,1.0,47.100719,2014.0,4,1.0,2014,0.072158,B,B,2,629,1,0,0,A,108337.484207
5149,13703,42,1.0,38.071692,73.0,9,10.0,2006,0.158249,B,B,21,5731,0,1,0,B,160488.033165
7088,6569,27,1.0,38.220258,84.0,4,17.0,2018,0.011654,B,B,4,915,0,0,0,B,99079.960518
8584,14679,81,1.0,32.276663,1970.0,6,1.0,1977,0.006076,B,B,30,5285,0,6,6,B,105539.556275

In [28]:
kitchen_index = data[data['KitchenSquare'] > data['Square']].index
kitchen_index
data.loc[kitchen_index, 'KitchenSquare'] = round(data['KitchenSquare'].median())

#### Floor & HouseFloor

In [29]:
data.loc[data['HouseFloor'] > 50]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
6131,10806,5,1.0,51.944587,1.0,6,99.0,1977,0.150818,B,B,16,3433,4,4,5,B,296127.115515
8599,9300,74,2.0,71.747869,9.0,5,99.0,1977,0.075779,B,B,6,1437,3,0,2,B,243329.912579
8854,78,30,2.0,65.773749,1.0,8,117.0,1977,0.000078,B,B,22,6398,141,3,23,B,207248.370520

Выявили наиболее странные анамалии.

In [30]:
data.loc[data['HouseFloor'] == 99, 'HouseFloor'] = 9
data.loc[data['HouseFloor'] == 117, 'HouseFloor'] = 17

Поменяем местами этажность дома и номер этажа для всех Id, где они несоответвтуют.

In [31]:
floors_index = data[data['HouseFloor'] < data['Floor']].index
data.loc[floors_index, 'Floor'], data.loc[floors_index, 'HouseFloor'] = data.loc[floors_index, 'HouseFloor'], data.loc[floors_index, 'Floor']

Разберемся с категориальными признаками и целочисленными значениями.

In [32]:
def category_prep(df, cat_feats=['Ecology_2', 'Ecology_3', 'Shops_2']):
    df_copy = df.copy()
    for col in cat_feats:
        df_copy.loc[:, col] = df[col].map({'A': 1, 'B': 0})
    return df_copy

In [33]:
def int_prep(df, cat_feats=['Rooms', 'KitchenSquare', 'Floor', 'HouseFloor']):
    df_copy = df.copy()
    for col in cat_feats:
        df_copy.loc[:, col] = df[col].astype(int)
    return df_copy

Добавим характеристик и функций.

In [34]:
def add_mean_prices(df):
    df_out = df.copy()
    
    stats_flt_by_dist_rooms = df.groupby(['DistrictId', 'Rooms'], as_index=False)[['Price']]\
                                                                .mean().rename(columns={'Price':'mean_price_dist_rooms'})
    
    stats_flt_by_rooms = data.groupby(['Rooms'], as_index=False)[['Price']].mean().rename(columns={'Price':'mean_price_rooms'})

    
    data['Price_m2']= data['Price']/data['Square']
    stats_sqm_by_dist = data.groupby(['DistrictId'], as_index=False)[['Price_m2']]\
                                                                .mean().rename(columns={'Price_m2':'mean_price_m2'})
    mean_price = data['Price'].mean()
    
    df_out = pd.merge(df_out, stats_flt_by_dist_rooms, on=['DistrictId', 'Rooms'], how='left')
    df_out = pd.merge(df_out, stats_flt_by_rooms, on='Rooms', how='left')
    df_out = pd.merge(df_out, stats_sqm_by_dist, on='DistrictId', how='left')
    
    df_out['mean_price_rooms'] = df_out['mean_price_rooms'].fillna(mean_price)
    df_out['mean_price_m2'] = df_out['mean_price_m2'].fillna(df_out['mean_price_rooms'])
    df_out['mean_price_dist_rooms'] = df_out['mean_price_dist_rooms'].fillna(df_out['mean_price_rooms'])
   
    return df_out

In [35]:
def prepare_data(df):
    df = category_prep(df)
    df = add_mean_prices(df)
    df = df.astype("float32")
    return df

##### Готовим данные

In [36]:
train, valid = train_test_split(data, test_size=0.20, random_state=42)

In [37]:
train.shape, valid.shape

((7989, 18), (1998, 18))

##### Работаем с сетами

In [38]:
train = prepare_data(train)

In [39]:
valid = prepare_data(valid)

In [40]:
train.shape, valid.shape

((7989, 21), (1998, 21))

In [41]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7989 entries, 0 to 7988
Data columns (total 21 columns):
Id                       7989 non-null float32
DistrictId               7989 non-null float32
Rooms                    7989 non-null float32
Square                   7989 non-null float32
KitchenSquare            7989 non-null float32
Floor                    7989 non-null float32
HouseFloor               7989 non-null float32
HouseYear                7989 non-null float32
Ecology_1                7989 non-null float32
Ecology_2                7989 non-null float32
Ecology_3                7989 non-null float32
Social_1                 7989 non-null float32
Social_2                 7989 non-null float32
Social_3                 7989 non-null float32
Helthcare_2              7989 non-null float32
Shops_1                  7989 non-null float32
Shops_2                  7989 non-null float32
Price                    7989 non-null float32
mean_price_dist_rooms    7989 non-null float32
mean_price_rooms         7989 non-null float32
mean_price_m2            7989 non-null float32
dtypes: float32(21)
memory usage: 717.8 KB

##### Модель

In [42]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1998 entries, 0 to 1997
Data columns (total 21 columns):
Id                       1998 non-null float32
DistrictId               1998 non-null float32
Rooms                    1998 non-null float32
Square                   1998 non-null float32
KitchenSquare            1998 non-null float32
Floor                    1998 non-null float32
HouseFloor               1998 non-null float32
HouseYear                1998 non-null float32
Ecology_1                1998 non-null float32
Ecology_2                1998 non-null float32
Ecology_3                1998 non-null float32
Social_1                 1998 non-null float32
Social_2                 1998 non-null float32
Social_3                 1998 non-null float32
Helthcare_2              1998 non-null float32
Shops_1                  1998 non-null float32
Shops_2                  1998 non-null float32
Price                    1998 non-null float32
mean_price_dist_rooms    1998 non-null float32
mean_price_rooms         1998 non-null float32
mean_price_m2            1998 non-null float32
dtypes: float32(21)
memory usage: 179.5 KB

In [43]:
train.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'KitchenSquare', 'Floor',
       'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2', 'Ecology_3',
       'Social_1', 'Social_2', 'Social_3', 'Helthcare_2', 'Shops_1', 'Shops_2',
       'Price', 'mean_price_dist_rooms', 'mean_price_rooms', 'mean_price_m2'],
      dtype='object')

In [44]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,7989.0,8399.326172,4845.725098,2.000000,4175.000000,8417.000000,12590.000000,16798.000000
DistrictId,7989.0,51.025410,43.943546,0.000000,21.000000,37.000000,77.000000,209.000000
Rooms,7989.0,1.891100,0.815247,1.000000,1.000000,2.000000,2.000000,5.000000
Square,7989.0,56.354069,19.242214,16.117155,41.745152,52.712196,66.123016,275.645294
KitchenSquare,7989.0,5.862311,4.986586,0.000000,1.000000,6.000000,9.000000,123.000000
Floor,7989.0,7.720741,5.298770,0.000000,4.000000,7.000000,11.000000,42.000000
HouseFloor,7989.0,13.443234,5.888748,1.000000,9.000000,14.000000,17.000000,48.000000
HouseYear,7989.0,1984.955078,18.445230,1912.000000,1974.000000,1977.000000,2001.000000,2020.000000
Ecology_1,7989.0,0.118600,0.118691,0.000000,0.017647,0.075424,0.195781,0.521867
Ecology_2,7989.0,0.009138,0.095161,0.000000,0.000000,0.000000,0.000000,1.000000
Ecology_3,7989.0,0.026787,0.161469,0.000000,0.000000,0.000000,0.000000,1.000000
Social_1,7989.0,24.694078,17.474968,0.000000,6.000000,25.000000,36.000000,74.000000
Social_2,7989.0,5345.505371,3973.979248,168.000000,1564.000000,5285.000000,7227.000000,19083.000000
Social_3,7989.0,8.025160,23.851660,0.000000,0.000000,2.000000,5.000000,141.000000
Helthcare_2,7989.0,1.312430,1.483863,0.000000,0.000000,1.000000,2.000000,6.000000
Shops_1,7989.0,4.226311,4.791293,0.000000,1.000000,3.000000,6.000000,23.000000
Shops_2,7989.0,0.081737,0.273978,0.000000,0.000000,0.000000,0.000000,1.000000
Price,7989.0,214445.390625,92819.078125,59174.777344,154000.671875,192305.375000,249044.421875,633233.437500
mean_price_dist_rooms,7989.0,214446.562500,75611.859375,82342.773438,164986.093750,199025.234375,247515.843750,624156.000000
mean_price_rooms,7989.0,214256.109375,53866.000000,159543.078125,159543.078125,215224.890625,215224.890625,404735.812500
mean_price_m2,7989.0,3895.371338,948.472961,2284.108643,3021.675049,4084.464355,4489.819336,9452.113281

In [45]:
feats = ['DistrictId', 'Rooms', 'Square', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3',
       'Helthcare_2', 'Shops_1', 'Shops_2']

In [46]:
train.loc[:, feats].describe().T

,count,mean,std,min,25%,50%,75%,max
DistrictId,7989.0,51.025410,43.943546,0.000000,21.000000,37.000000,77.000000,209.000000
Rooms,7989.0,1.891100,0.815247,1.000000,1.000000,2.000000,2.000000,5.000000
Square,7989.0,56.354069,19.242214,16.117155,41.745152,52.712196,66.123016,275.645294
KitchenSquare,7989.0,5.862311,4.986586,0.000000,1.000000,6.000000,9.000000,123.000000
Floor,7989.0,7.720741,5.298770,0.000000,4.000000,7.000000,11.000000,42.000000
HouseFloor,7989.0,13.443234,5.888748,1.000000,9.000000,14.000000,17.000000,48.000000
HouseYear,7989.0,1984.955078,18.445230,1912.000000,1974.000000,1977.000000,2001.000000,2020.000000
Ecology_1,7989.0,0.118600,0.118691,0.000000,0.017647,0.075424,0.195781,0.521867
Ecology_2,7989.0,0.009138,0.095161,0.000000,0.000000,0.000000,0.000000,1.000000
Ecology_3,7989.0,0.026787,0.161469,0.000000,0.000000,0.000000,0.000000,1.000000
Social_1,7989.0,24.694078,17.474968,0.000000,6.000000,25.000000,36.000000,74.000000
Social_2,7989.0,5345.505371,3973.979248,168.000000,1564.000000,5285.000000,7227.000000,19083.000000
Social_3,7989.0,8.025160,23.851660,0.000000,0.000000,2.000000,5.000000,141.000000
Helthcare_2,7989.0,1.312430,1.483863,0.000000,0.000000,1.000000,2.000000,6.000000
Shops_1,7989.0,4.226311,4.791293,0.000000,1.000000,3.000000,6.000000,23.000000
Shops_2,7989.0,0.081737,0.273978,0.000000,0.000000,0.000000,0.000000,1.000000

In [47]:
model = RF(n_estimators=999,
    max_features=7,
    max_depth=50,
    random_state=42)

In [48]:
train.loc[:, feats].describe().T

,count,mean,std,min,25%,50%,75%,max
DistrictId,7989.0,51.025410,43.943546,0.000000,21.000000,37.000000,77.000000,209.000000
Rooms,7989.0,1.891100,0.815247,1.000000,1.000000,2.000000,2.000000,5.000000
Square,7989.0,56.354069,19.242214,16.117155,41.745152,52.712196,66.123016,275.645294
KitchenSquare,7989.0,5.862311,4.986586,0.000000,1.000000,6.000000,9.000000,123.000000
Floor,7989.0,7.720741,5.298770,0.000000,4.000000,7.000000,11.000000,42.000000
HouseFloor,7989.0,13.443234,5.888748,1.000000,9.000000,14.000000,17.000000,48.000000
HouseYear,7989.0,1984.955078,18.445230,1912.000000,1974.000000,1977.000000,2001.000000,2020.000000
Ecology_1,7989.0,0.118600,0.118691,0.000000,0.017647,0.075424,0.195781,0.521867
Ecology_2,7989.0,0.009138,0.095161,0.000000,0.000000,0.000000,0.000000,1.000000
Ecology_3,7989.0,0.026787,0.161469,0.000000,0.000000,0.000000,0.000000,1.000000
Social_1,7989.0,24.694078,17.474968,0.000000,6.000000,25.000000,36.000000,74.000000
Social_2,7989.0,5345.505371,3973.979248,168.000000,1564.000000,5285.000000,7227.000000,19083.000000
Social_3,7989.0,8.025160,23.851660,0.000000,0.000000,2.000000,5.000000,141.000000
Helthcare_2,7989.0,1.312430,1.483863,0.000000,0.000000,1.000000,2.000000,6.000000
Shops_1,7989.0,4.226311,4.791293,0.000000,1.000000,3.000000,6.000000,23.000000
Shops_2,7989.0,0.081737,0.273978,0.000000,0.000000,0.000000,0.000000,1.000000

In [49]:
model.fit(train.loc[:, feats], train['Price'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=50,
           max_features=7, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=999, n_jobs=None, oob_score=False, random_state=42,
           verbose=0, warm_start=False)

In [50]:
pred_train = model.predict(train.loc[:, feats])

In [51]:
pred_valid = model.predict(valid.loc[:, feats])

##### Оценка

In [52]:
r2(train['Price'], pred_train)

0.9661761323238865

In [53]:
r2(valid['Price'], pred_valid)

0.7354325619611108

##### Грузимся

In [54]:
test = pd.read_csv('test.csv')

In [55]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [56]:
test = test.drop(['Healthcare_1'], axis = 1)
test = test.drop(['LifeSquare'], axis = 1)

In [57]:
test.loc[test['Rooms'] > 5, ['Id','Rooms', 'Square', 'KitchenSquare', 'HouseYear']]

         Id  Rooms      Square  KitchenSquare  HouseYear
2071  10793    6.0  110.750226            0.0       2015
3217   4058    6.0  223.453689           16.0       2017
3398   1435   17.0   52.866107            8.0       1987

In [58]:
test.loc[test['Rooms'] < 1, ['Id','Rooms','Square', 'KitchenSquare']].sort_values(['Square'])

         Id  Rooms      Square  KitchenSquare
2524  10729    0.0   76.345154           12.0
2406   3343    0.0  116.824201            0.0

In [59]:
test.loc[test['Id']== 10729, 'Rooms'] = 3
test.loc[test['Id'] == 3343, 'Rooms'] = 5

In [60]:
test.loc[test['Square'] > 200, ['Id', 'Rooms', 'Square', 'KitchenSquare']]

        Id  Rooms      Square  KitchenSquare
3217  4058    6.0  223.453689           16.0
3909  1397    3.0  221.138768            4.0

In [61]:
test.loc[test['Square'] < 15, ['Id', 'Rooms', 'Square', 'KitchenSquare']]
sq_ind = test.loc[test['Square'] < 15, :].index
test.loc[sq_ind, 'Square'] = test.loc[sq_ind, 'Square']*10

In [62]:
test[test['KitchenSquare'] > test['Square']]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
1964,14594,11,2.0,42.795304,620.0,11,14.0,1972,0.038693,B,B,28,6533,1,2,5,B
2424,10662,29,1.0,25.956829,33.0,5,5.0,1973,0.069660,B,B,31,6119,4,1,2,B
3863,3194,29,2.0,43.926987,44.0,6,5.0,1964,0.086885,B,B,10,2277,2,0,0,B
4555,12640,6,2.0,54.629142,97.0,4,17.0,2015,0.243205,B,B,5,1564,0,0,0,B

In [63]:
kitchen_index = test[test['KitchenSquare'] > test['Square']].index
kitchen_index
test.loc[kitchen_index, 'KitchenSquare'] = round(test['KitchenSquare'].mean())

In [64]:
test.loc[test['HouseFloor'] > 50]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
651,15864,27,3.0,47.722835,9.0,18,99.0,1977,0.072158,B,B,2,629,1,0,0,A

In [65]:
test.loc[test['HouseFloor'] == 99, 'HouseFloor'] = 19

In [66]:
test[test['HouseFloor'] < test['Floor']]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
1,15856,74,2.0,69.263183,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,0,2,B
10,15975,61,3.0,64.543658,7.0,10,9.0,1981,0.300323,B,B,52,10311,6,1,9,B
14,5214,27,1.0,37.555197,1.0,5,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
22,12694,27,3.0,83.670032,0.0,8,0.0,2015,0.072158,B,B,2,629,1,0,0,A
24,8968,27,2.0,69.849239,0.0,3,0.0,1977,0.011654,B,B,4,915,0,0,0,B
27,11160,58,1.0,48.610661,1.0,4,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
30,2982,6,2.0,63.460684,0.0,13,0.0,1977,0.243205,B,B,5,1564,0,0,0,B
32,2449,1,1.0,66.426585,0.0,14,0.0,1977,0.007122,B,B,1,264,0,0,1,B
36,9348,205,1.0,37.480811,8.0,6,5.0,1933,0.169091,B,B,19,3856,10,2,5,B
41,12749,21,2.0,49.011976,5.0,6,5.0,1969,0.194489,B,B,47,8004,3,3,5,B
46,12309,45,1.0,42.899569,0.0,25,0.0,1977,0.195781,B,B,23,5212,6,3,2,B
55,5452,27,1.0,48.587913,12.0,3,2.0,2016,0.017647,B,B,2,469,0,0,0,B
58,2831,21,1.0,21.452899,3.0,11,9.0,1972,0.194489,B,B,47,8004,3,3,5,B
59,10614,27,1.0,44.254995,1.0,3,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
65,10929,48,1.0,40.767892,1.0,20,19.0,2017,0.041125,B,B,46,9515,5,1,10,B
71,9205,120,2.0,85.911827,1.0,5,1.0,2016,0.341072,B,B,27,5664,48,3,11,B
72,5403,34,4.0,99.112581,1.0,22,1.0,1977,0.069753,B,B,53,13670,4,1,11,B
75,14232,75,1.0,34.591390,9.0,13,12.0,1970,0.307467,B,A,30,5048,9,2,5,B
76,8532,99,2.0,52.156529,8.0,18,17.0,2000,0.012339,B,B,35,5776,1,2,4,B
77,7034,45,2.0,59.927502,1.0,23,1.0,2017,0.195781,B,B,23,5212,6,3,2,B
78,6553,34,5.0,122.375273,0.0,9,0.0,1977,0.069753,B,B,53,13670,4,1,11,B
93,4044,21,1.0,34.988472,5.0,11,9.0,1969,0.194489,B,B,47,8004,3,3,5,B
102,10749,6,2.0,65.582572,1.0,4,2.0,2017,0.243205,B,B,5,1564,0,0,0,B
107,12401,6,3.0,79.506406,12.0,18,17.0,2013,0.243205,B,B,5,1564,0,0,0,B
113,5032,30,1.0,50.738045,0.0,5,0.0,1977,0.000078,B,B,22,6398,141,3,23,B
118,8990,27,3.0,58.848188,6.0,11,9.0,1988,0.211401,B,B,9,1892,0,0,1,B
120,12743,27,1.0,40.407390,0.0,9,0.0,1977,0.211401,B,B,9,1892,0,0,1,B
121,5132,6,1.0,39.352386,1.0,12,1.0,1977,0.243205,B,B,5,1564,0,0,0,B
130,5746,62,1.0,44.021356,0.0,13,0.0,1977,0.072158,B,B,2,629,1,0,0,A
132,14834,27,3.0,56.310351,0.0,19,0.0,1977,0.072158,B,B,2,629,1,0,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4856,10262,27,2.0,69.196440,0.0,10,0.0,1977,0.017647,B,B,2,469,0,0,0,B
4858,4606,19,1.0,46.726757,9.0,26,25.0,2002,0.000991,B,B,33,6783,3,1,9,B
4863,4611,27,2.0,76.709543,1.0,13,12.0,2016,0.072158,B,B,2,629,1,0,0,A
4875,10493,125,1.0,34.814378,7.0,10,9.0,1970,0.194489,B,B,47,8004,3,3,5,B
4880,8696,62,2.0,103.865542,1.0,10,1.0,2014,0.072158,B,B,2,629,1,0,0,A
4882,14551,52,1.0,45.067034,8.0,15,14.0,1990,0.371149,B,B,34,7065,1,2,5,B
4883,2646,61,3.0,66.691900,9.0,13,12.0,1965,0.300323,B,B,52,10311,6,1,9,B
4887,12116,88,3.0,89.549559,0.0,20,0.0,1977,0.127376,B,B,43,8429,3,3,9,B
4888,3834,45,3.0,76.515289,1.0,6,1.0,1977,0.195781,B,B,23,5212,6,3,2,B
4889,7785,29,2.0,60.790591,11.0,17,16.0,2015,0.069660,B,B,31,6119,4,1,2,B
4892,16357,58,1.0,49.205978,0.0,4,0.0,1977,0.437885,B,B,23,5735,3,0,5,B
4901,4034,111,2.0,46.917730,5.0,6,5.0,1969,0.135650,B,B,46,7960,6,3,11,B
4906,14356,54,2.0,78.176217,1.0,10,8.0,2014,0.006076,B,B,30,5285,0,6,6,B
4911,16315,52,3.0,80.574584,10.0,19,17.0,1988,0.371149,B,B,34,7065,1,2,5,B
4927,14686,1,3.0,77.229885,1.0,18,17.0,1977,0.007122,B,B,1,264,0,0,1,B
4932,13107,5,3.0,61.186601,5.0,14,12.0,1973,0.150818,B,B,16,3433,4,4,5,B
4941,15110,58,2.0,67.104108,1.0,5,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
4954,6089,102,2.0,60.166022,6.0,7,5.0,1958,0.238617,B,B,26,3889,6,3,6,B
4956,7639,27,1.0,38.756507,1.0,7,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
4957,16722,9,1.0,68.794231,1.0,4,1.0,1977,0.161532,B,B,25,5648,1,2,4,B
4958,9157,58,3.0,94.876277,0.0,5,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
4962,5820,94,1.0,33.680382,1.0,10,9.0,1972,0.127376,B,B,43,8429,3,3,9,B
4964,16087,112,1.0,41.719715,8.0,19,18.0,2008,0.069660,B,B,31,6119,4,1,2,B
4968,15181,27,4.0,104.664209,1.0,4,1.0,2016,0.017647,B,B,2,469,0,0,0,B
4972,16064,30,1.0,38.376234,1.0,2,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
4976,4723,95,1.0,45.542940,0.0,6,0.0,1977,0.000699,B,B,14,3369,24,0,3,B
4989,2591,39,2.0,44.203592,6.0,10,9.0,1972,0.428826,B,B,25,5011,8,0,2,B
4993,14562,113,2.0,46.627882,5.0,6,5.0,1969,0.307467,B,A,30,5048,9,2,5,B
4997,5783,12,3.0,77.842178,9.0,23,22.0,1989,0.090799,B,B,74,19083,2,5,15,B
4998,4780,62,2.0,81.305222,0.0,4,0.0,1977,0.072158,B,B,2,629,1,0,0,A

In [67]:
floors_index = test[test['HouseFloor'] < test['Floor']].index
test.loc[floors_index, 'Floor'], test.loc[floors_index, 'HouseFloor'] = test.loc[floors_index, 'HouseFloor'], test.loc[floors_index, 'Floor']

In [68]:
test.loc[test['HouseYear'] > 2020, :]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2]
Index: []

In [69]:
test.loc[test['HouseYear'] < 1910, :]

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
2,5480,190,1.0,135.978185,12.0,2.0,5.0,1909,0.000000,B,B,30,7538,87,5,5,B
3253,12316,183,5.0,157.976101,12.0,7.0,8.0,1908,0.246624,B,B,14,2940,45,3,6,B

In [70]:
test[["Ecology_2","Ecology_3","Shops_2"]] = (test[["Ecology_2","Ecology_3","Shops_2"]] == "A").astype(int)
test = test.astype("float32")
test.describe()

,Id,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000
mean,8412.607422,51.279202,1.911600,56.546494,5.822800,7.838000,13.379000,1984.392578,0.119874,0.009600,0.029800,24.933800,5406.886230,8.26260,1.319400,4.242800,0.082400
std,4832.676270,44.179382,0.839004,19.050095,4.633161,5.454978,6.113664,18.573030,0.120070,0.097516,0.170048,17.532305,4026.621338,23.86377,1.479935,4.777351,0.274992
min,1.000000,0.000000,1.000000,13.785426,0.000000,0.000000,1.000000,1908.000000,0.000000,0.000000,0.000000,0.000000,168.000000,0.00000,0.000000,0.000000,0.000000
25%,4221.750000,21.000000,1.000000,41.926032,1.000000,4.000000,9.000000,1973.000000,0.019509,0.000000,0.000000,6.000000,1564.000000,0.00000,0.000000,1.000000,0.000000
50%,8320.500000,37.000000,2.000000,52.933733,6.000000,7.000000,14.000000,1977.000000,0.072158,0.000000,0.000000,25.000000,5285.000000,2.00000,1.000000,3.000000,0.000000
75%,12598.250000,77.000000,2.000000,66.295633,9.000000,11.000000,17.000000,2000.000000,0.195781,0.000000,0.000000,36.000000,7287.000000,5.00000,2.000000,6.000000,0.000000
max,16795.000000,212.000000,17.000000,223.453690,112.000000,46.000000,78.000000,2020.000000,0.521867,1.000000,1.000000,74.000000,19083.000000,141.00000,6.000000,23.000000,1.000000

In [71]:
test['Price'] = model.predict(test.loc[:, feats])

In [72]:
test.loc[:, ['Id', 'Price']].to_csv('AZyrianov_predictions.csv', index=None)

In [73]:
result = pd.read_csv('AZyrianov_predictions.csv')

In [74]:
result.shape

(5000, 2)

In [75]:
result

           Id          Price
0       725.0  163193.847332
1     15856.0  227884.834452
2      5480.0  364412.534941
3     15664.0  334856.712689
4     14275.0  146930.730418
5      7633.0  204894.982389
6     13329.0  162984.322518
7      5502.0  223826.911361
8      4220.0  286352.165337
9     11538.0  210942.398641
10    15975.0  269829.731431
11     3310.0  213631.926082
12     9286.0  146915.997716
13    11260.0  185713.453844
14     5214.0  106600.041542
15    11307.0  189482.837423
16    13543.0  379371.346636
17      615.0  193094.145192
18     3495.0  233802.127784
19     2321.0  239329.457794
20    12046.0  190605.646537
21    16688.0  147430.508524
22    12694.0  237556.129379
23      783.0  149986.347465
24     8968.0  172981.837032
25    13454.0  178204.535872
26    12190.0  277964.158604
27    11160.0  114857.377237
28    10291.0  202872.460085
29      891.0  280523.791800
...       ...            ...
4970   1740.0  195115.124195
4971   3450.0  150118.162616
4972  16064.0  119646.320617
4973   1804.0  110719.036576
4974   5296.0  134868.600178
4975   5346.0  474582.764710
4976   4723.0  377204.769918
4977    417.0  160410.144426
4978  15756.0  165672.600163
4979  14090.0  178778.426583
4980  14778.0  322677.077937
4981   2560.0  181526.800003
4982  12920.0   83230.563200
4983   8249.0  121780.023453
4984   7125.0  169222.184700
4985  11732.0  152815.164665
4986  13365.0  377400.517494
4987   5361.0  367021.789375
4988  15937.0  285460.876806
4989   2591.0  180044.316090
4990  15706.0  192727.645700
4991   2105.0  216197.325779
4992   7220.0  319821.696931
4993  14562.0  197386.479347
4994   6836.0  168167.382007
4995   8180.0  252127.986252
4996   4695.0  135072.559982
4997   5783.0  330266.305782
4998   4780.0  201747.983491
4999  12504.0  177653.087017

[5000 rows x 2 columns]